html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    /* There was some weird white space to the right that 
    I don't understand, this got rid of it*/
}

#outer-box {
    border: #3c7fac solid 1.5px;
    border-radius: 5px;
    max-width: 650px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: sans-serif;
    font-variant: petite-caps;
}

h1 {
    background-color: #3c7fac;
    color: #f3f3f3;
    font-size: xxx-large;
    width: 99vh;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h2 {
    margin: 20px 7px;
    color: #4a4848;
}

#form-div {
    max-width: 650px;
    min-width: 300px;
    margin-left: 6px;
}

input {
    width: 116px;
}

.submit-button {
    float: right;
    margin: 6px 6px 3px 0;
}

.calculator-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: 99vh;
    border-radius: 5px;
    overflow: hidden;
    /*⬆️i think this overflow setting ensures the radius styling display properly  */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /*this create an opaque shadow */
}

.calculator-table thead tbody tfoot {
    width: 100vh;
}

.calculator-table thead tr {
    background-color: #3c7fac;
    color: white;
    text-align: left;
    font-weight: bold; /*not doing anything */
}

.calculator-table th,
.calculator-table td {
    padding: 10px 15px;
}

.calculator-table tbody tr {
    border-bottom: 1px solid lightgrey;
}

/*⬇️ make every other row light gray */
.calculator-table tbody tr:nth-last-of-type(even) {
    background-color: whitesmoke;
}

.calculator-table tbody tr.active-row {
    font-weight: bold;
    color: #3c7fac;
} /* maybe use this for a hover or something*/

/*⬇️ put a border on the bottom of the last row to match the thead*/
/* .calculator-table tbody tr:nth-last-of-type {
    border-bottom: 2px solid #009879;
} not working, does work with odd or even but not like this??? */

.calculator-table tfoot {
    background-color: #3c7fac;
}

#total-text {
    text-align: right;
}

.red-background {
    background-color: red;
    color: white;
}